
<main class="map">

  <div class="full-map">
    <% include svg/clouds %>
    <a href="/details/Industrie" id="industrial">
      <!-- <img src="images/map_industrie.svg" alt="industrie"> -->
      <% include svg/map_industrie %>
      <span class="industrial-text">Industrie</span>
      <div class="hide fadeIn drone"></div>
      <div class="hide fadeIn satellite"></div>
    </a><!--
    --><a href="/details/Stedelijk" id="urban">
      <!-- <img src="images/map_stedelijk.svg" alt="stedelijk"> -->
      <% include svg/map_stedelijk %>
      <span class="urban-text">Stedelijk</span>
      <div class="hide fadeIn drone"></div>
      <div class="hide fadeIn satellite"></div>
    </a><!--
    --><a href="/details/Landelijk" id="rural">
      <% include svg/map_landelijk %>
      <span class="rural-text">Landelijk</span>
      <div class="hide fadeIn drone"></div>
      <div class="hide fadeIn satellite"></div>
    </a>

    <p class="strong italic instruction">Kies een sector op de kaart hierboven</p>

  </div>

</main>
