<!DOCTYPE html>
<html>
  <head>
    <title><%= sensor.name %></title>
    <link rel='stylesheet' href='/build/css/main.css' />
  </head>
  <body>

    <% include partials/detail %>
    <% include partials/aside %>
    <script src="/javascripts/search.js"></script>
  </body>
</html>
