<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/detailstyle.css' />
  </head>
  <body>

    <% include partials/detail %>

  </body>
</html>
