<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
     <header>
        <h1><%= title %></h1>
        <p></p>
    </header>
    <main>
      <table>
        <tr>
          <th>Meetmethode</th>
          <th></th>

        </tr>
        <tr>
          <td>Waar</td>
          <td>Waarin</td>
          <td>Wat</td>
          <td>niveau</td>
          <td>Schaal</td>
          <td>Resolutie</td>
          <td>Nauwkeurigheid</td>
        <td> Termijn resultaat</td>
          <td>Tijdsreeks</td>
          <td>Innovatie</td>
          <td>Kosten</td>
        </tr>
        <tr>
          <td>Landelijk</td>
          <td>Bodem</td>
          <td>Chemisch</td>
          <td>Metalen</td>
          <td>0 </td>
          <td> n.v.t.</td>
          <td>   2</td>
          <td>   3</td>
          <td>   n.v.t.</td>
          <td>   3</td>
          <td>   $$</td>

        </tr>
      </table>
    </main>

  </body>
</html>
