<% include partials/head %>

     <% include partials/aside %>
     <main>
         <h1>Edit this page</h1>
         <ul>
             <li>Naam: <span contenteditable="true"><%= sensor.name %></span></li>
        </ul>

         <% include partials/detail %>


     </main>

<% include partials/footer %>
