<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/build/css/main.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
     <% include partials/aside %>
     <main>
         <h1>Edit this page</h1>
         <ul>
             <li>Naam: <span contenteditable="true"><%= sensor.name %></span></li>
        </ul>

         <% include partials/detail %>


     </main>



     <main>
    </main>
</body>
