<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/tool.css' />
  </head>
  <body>

    <% include partials/map %>

  </body>
</html>
