<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
        <main></main>
        <% include partials/aside %>
        <script src="/javascripts/search.js"></script>
  </body>
</html>
