<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/build/css/main.css' />
  </head>
  <body>

    <h2> search results for <%= searchQuery %> :</h2>
    <main>
        <ul>
            <% allSensors.forEach(function(sensorID) { %>
                <li class="listItem">
                    <h4> <%= sensorID.name %> </h4>
                    <% sensorID.branch.forEach(function(branchID) { %>
                        <p><%= branchID %></p>
                    <% }) %>
                </li>
            <% }) %>
        </ul>
    </main>

    <script src="/javascripts/search.js"></script>
  </body>
</html>
