/*********************
VARIABLES
*********************/
$color_background: #009fe3;
$color_lightbackground: #f0f0eb;
$color_white: #f5f5f5;
$color_blue: #0a516a;
$color_lightpink: #ff1fa3;
$color_pink: #eb008b;
$color_black: #333333;
$color_shadow: #cccccc;
