<section class="detail">

 <section>
   <header>
     <h2><%= title %></h2>
     <img src="/images/xrf.jpg" alt="sensor image">
     <article class="sensor_discription">
       <h2>Beschrijving</h2>
       <p>Exacte meting, direct af te lezen. Röntgenfluorescentie is een proces van fluorescentie waarbij een materiaal bij bestraling met röntgenstraling ook weer röntgenstraling uitzendt.</p>
     </article>
   </header>
 </section>
 <section id="selection_info">
   <div id="selection_info_what">
     <table>
       <tr>
         <th>Wat</th>
         <td>Chemisch</td>
       </tr>
       <tr>
         <th>niveau</th>
         <td>Metalen</td>
       </tr>
       <tr>
         <th>Waarin</th>
         <td>Bodem</td>
       </tr>
     </table>
   </div>
   <div id="selection_info_criteria">
     <table>
       <tr>
         <th>Waar</th>
         <td class="selected">Landelijk</td>
         <td>Provinciaal</td>
         <td>Regionaal</td>
       </tr>
     </table>
     <table>
       <tr>
         <th>Schaal</th>
         <td class="selected">1</td>
         <td>2</td>
         <td>3</td>
         <td>4</td>
         <td>5</td>
       </tr>
     </table>
     <table>
       <tr>
         <th>Resolutie</th>
         <td>n.v.t.</td>
       </tr>
     </table>
     <table>
       <tr>
         <th>Nauwkeurigheid</th>
         <td>1</td>
         <td class="selected">2</td>
         <td>3</td>
         <td>4</td>
         <td>5</td>
       </tr>
     </table>
     <table>
       <tr>
         <th>Termijn resultaat</th>
         <td>1</td>
         <td>2</td>
         <td class="selected">3</td>
         <td>4</td>
         <td>5</td>
       </tr>
     </table>
     <table>
       <tr>
         <th>Tijdsreeks</th>
         <td>n.v.t.</td>
       </tr>
     </table>
     <table>
       <tr>
         <th>Innovatie</th>
         <td>1</td>
         <td>2</td>
         <td class="selected">3</td>
         <td>4</td>
         <td>5</td>
       </tr>
     </table>
     <table>
      <tr>
        <th>Kosten</th>
        <td>$</td>
        <td class="selected">$$</td>
        <td>$$$</td>
      </tr>
     </table>
   </div>
   <table>








   </table>
 </section>
</section>
