<section id="filter">

    <form action = "?" method = "GET">

      <h2>Filter</h2>

      <a href="" title="sluiten" class="close-filter" id="close-filter"></a>

      <fieldset>
        <label for="scale">Schaal
            <span class="arrow down"></span>
        </label>
        <input type="checkbox" id="scale" name="scale" value="schaal" class="filter-dropdown" />
        <ul>
          <li><label><input type="checkbox" name="scalecheckbox" value="handmatig" />Handmatig</label></li>
          <li><label><input type="checkbox" name="scalecheckbox" value="lokaal" />Lokaal</label></li>
          <li><label><input type="checkbox" name="scalecheckbox" value="regionaal" />Regionaal</label></li>
          <li><label><input type="checkbox" name="scalecheckbox" value="provinciaal" />Provinciaal</label></li>
          <li><label><input type="checkbox" name="scalecheckbox" value="landelijk" />Landelijk</label></li>
          <li><label><input type="checkbox" name="scalecheckbox" value="internationaal" />Internationaal</label></li>

        </ul>
      </fieldset>
      <fieldset>
        <label for="resolution">Resolutie
            <span class="arrow down"></span>
        </label>
        <input type="checkbox" id="resolution" name="resolution" value="resolutie" class="filter-dropdown" />
        <ul>
          <li><label><input type="checkbox" name="resolutioncheckbox" value="0" />0</label></li>
          <li><label><input type="checkbox" name="resolutioncheckbox" value="1" />1</label></li>
          <li><label><input type="checkbox" name="resolutioncheckbox" value="2" />2</label></li>
          <li><label><input type="checkbox" name="resolutioncheckbox" value="3" />3</label></li>
          <li><label><input type="checkbox" name="resolutioncheckbox" value="4" />4</label></li>
          <li><label><input type="checkbox" name="resolutioncheckbox" value="5" />5</label></li>
        </ul>
      </fieldset>
      <fieldset>
        <label for="accuracy">Nauwkeurigheid
            <span class="arrow down"></span>
        </label>
        <input type="checkbox" id="accuracy" name="accuracy" value="nauwkeurigheid" class="filter-dropdown" />
        <ul>
          <li><label><input type="checkbox" name="accuracycheckbox" value="0" />Niet nauwkeurig</label></li>
          <li><label><input type="checkbox" name="accuracycheckbox" value="1" />Matig nauwkeurig</label></li>
          <li><label><input type="checkbox" name="accuracycheckbox" value="2" />Redelijk nauwkeurig</label></li>
          <li><label><input type="checkbox" name="accuracycheckbox" value="3" />Zeer nauwkeurig</label></li>
        </ul>
      </fieldset>
      <fieldset>
        <label for="interval">Tijdreeks
            <span class="arrow down"></span>
            </label>
            <input type="checkbox" id="interval" name="interval" value="tijdreeks" class="filter-dropdown" />
        <ul>
          <li><label><input type="checkbox" name="interval" value="Jaren" />Jaren</label></li>
          <li><label><input type="checkbox" name="weeks" value="Weken" />Weken</label></li>
          <li><label><input type="checkbox" name="hours" value="Uren" />Uren</label></li>
          <li><label><input type="checkbox" name="minutes" value="Minuten" />Minuten</label></li>
        </ul>
      </fieldset>
      <fieldset>
        <label for="innovation">Innovatie
            <span class="arrow down"></span>
        </label>
            <input type="checkbox" id="innovation" name="innovation" value="innovatie" class="filter-dropdown" />
        <ul>
          <li><label><input type="checkbox" name="little-evidence" value="Weinig bewijs" />Weinig bewijs</label></li>
          <li><label><input type="checkbox" name="scientific-evidence" value="Wetenschappelijk bewezig" />Wetenschappelijk bewezig</label></li>
          <li><label><input type="checkbox" name="applied-in-projects" value="In projecten toegepast" />In projecten toegepast</label></li>
          <li><label><input type="checkbox" name="proven-technique" value="Bewezen techniek" />Bewezen techniek</label></li>
        </ul>
      </fieldset>
      <input type="submit" class="close-filter" value="Toepassen" />

    </form>

</section>

<script src="/javascripts/rotateArrows.js"></script>
<script src="/javascripts/filters.js"></script>
