<a href="#" title="Filter" id="filter-button">Filter</a>
<aside id="filter">

    <form>
      
      <h2>Filter</h2>

      <a href="" title="sluiten" class="close-filter" id="close-filter"></a>

      <details open>
        <summary>Schaal</summary>
        <label><input type="radio" name="scale" value="Handmatig" />Handmatig</label>
        <label><input type="radio" name="scale" value="Lokaal" />Lokaal</label>
        <label><input type="radio" name="scale" value="Regionaal" />Regionaal</label>
        <label><input type="radio" name="scale" value="Provinciaal" />Provinciaal</label>
        <label><input type="radio" name="scale" value="Landelijk" />Landelijk</label>
        <label><input type="radio" name="scale" value="Internationaal" />Internationaal</label>
      </details>
      <details open>
        <summary>Resolutie</summary>
        <label><input type="radio" name="resolution" value="0" />0</label>
        <label><input type="radio" name="resolution" value="1" />1</label>
        <label><input type="radio" name="resolution" value="2" />2</label>
        <label><input type="radio" name="resolution" value="3" />3</label>
        <label><input type="radio" name="resolution" value="4" />4</label>
        <label><input type="radio" name="resolution" value="5" />5</label>
      </details>
      <details open>
        <summary>Nauwkeurigheid</summary>
        <label><input type="radio" name="accuracy" value="Niet nauwkeurig" />Niet nauwkeurig</label>
        <label><input type="radio" name="accuracy" value="Matig nauwkeurig" />Matig nauwkeurig</label>
        <label><input type="radio" name="accuracy" value="Redelijk nauwkeurig" />Redelijk nauwkeurig</label>
        <label><input type="radio" name="accuracy" value="Zeer nauwkeurig" />Zeer nauwkeurig</label>
      </details>
      <details open>
        <summary>Tijdreeks</summary>
        <label><input type="radio" name="time-series" value="Jaren" />Jaren</label>
        <label><input type="radio" name="time-series" value="Weken" />Weken</label>
        <label><input type="radio" name="time-series" value="Uren" />Uren</label>
        <label><input type="radio" name="time-series" value="Minuten" />Minuten</label>
      </details>
      <details open>
        <summary>Innovatie</summary>
        <label><input type="radio" name="innovation" value="Nog weinig bewijs" />Nog weinig bewijs</label>
        <label><input type="radio" name="innovation" value="Alleen wetenschappelijk bewezig" />Alleen wetenschappelijk bewezig</label>
        <label><input type="radio" name="innovation" value="Reeds in enkele projecten toegepast" />Reeds in enkele projecten toegepast</label>
        <label><input type="radio" name="innovation" value="Bewezen techniek" />Bewezen techniek</label>
      </details>

      <input type="submit" class="close-filter" value="Toepassen" />

    </form>

</aside>

<script src="javascripts/filters.js"></script>
