<header class="mobile-header clearfix">
  <a href="/" title="Tauw" class="logo">
      <img src="/images/tauw_logo_white.svg" alt="Tauw logo">
  </a>
  <span class="menu-icon">
    <a href="#" title="menu" id="open-menu" title="menu">
      <span></span>
      <span></span>
      <span></span>
    </a>
    <a href="#" title="sluiten" id="close-menu"><img src="/images/close-menu.svg" alt="sluiten"</a>
  </span>
</header>
