<header class="mobile-header clearfix">
  <a href="/" class="logo" title="Tauw logo">
      <img src="/images/tauw_logo_white.svg" alt="Tauw logo">
  </a>

  <div class="menu-icon">
    <a href="#" id="open-menu" title="open menu"></a>

    <a href="#" id="close-menu" title="close menu">
        <img src="/images/close-menu.svg" alt="sluiten">
    </a>
</div>
</header>
