<header>
    <% if (page === "index") { %>
        <!--  Index.html -->
        <a href="" title="Tauw">
            <img src="images/tauw_logo_white.svg" alt="Tauw logo">
        </a>
        <form>
            <input type="search" name="search" class="search" placeholder="Search">
        </form>
    <% }

    else if (page === "filters") { %>
        <!--  Filter.html -->
        <a href="../../" title="Tauw">
            <img src="../../images/tauw_logo_white.svg" alt="Tauw logo">
        </a>
        <form>
            <input type="search" name="search" class="search" placeholder="Search">
        </form>
    <% }

    else if (page === "detail") { %>
        <!--  Detail.html -->
        <a href="../../../" title="Tauw">
            <img src="../../../images/tauw_logo_white.svg" alt="Tauw logo">
        </a>
        <a href="./" title="terug">Terug</a>
    <% }

    else { %>
        <!--  Form.html -->
        <a href="../" title="Tauw">
            <img src="images/tauw_logo_white.svg" alt="Tauw logo">
        </a>
    <% } %>
</header>
