
<main class="map">

  <section class="full-map">

    <a href="/details/Industrie" id="industrial">
      <img src="images/map_industrie.svg" alt="industrie">
      <span class="industrial-text">Industrie</span>
      <div class="hide fadeIn drone"></div>
      <div class="hide fadeIn satellite"></div>
    </a><!--
    --><a href="/details/Stedelijk" id="urban">
      <img src="images/map_stedelijk.svg" alt="stedelijk">
      <span class="urban-text">Stedelijk</span>
      <div class="hide fadeIn drone"></div>
      <div class="hide fadeIn satellite"></div>
    </a><!--
    --><a href="/details/Landelijk" id="rural">
      <img src="images/map_landelijk.svg" alt="landelijk">
      <span class="rural-text">Landelijk</span>
      <div class="hide fadeIn drone"></div>
      <div class="hide fadeIn satellite"></div>
    </a>

    <p class="strong italic instruction">Kies een sector op de kaart hierboven</p>

  </section>

</main>

<script src="javascripts/map.js"></script>
