<section id="tool" class="map">
  <header>
    <form>
      <select class="filter-dropdown">
        <option disabled selected>Schaal</option>
        <option value="Handmatig">Handmatig</option>
        <option value="Lokaal">Lokaal</option>
        <option value="Regionaal">Regionaal</option>
        <option value="Provinciaal">Provinciaal</option>
        <option value="Landelijk">Landelijk</option>
        <option value="Internationaal">Internationaal</option>
      </select>
      <select class="filter-dropdown">
        <option disabled selected>Resolutie</option>
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <select class="filter-dropdown">
        <option disabled selected>Nauwkeurigheid</option>
        <option value="Niet nauwkeurig">Niet nauwkeurig</option>
        <option value="Matig nauwkeurig">Matig nauwkeurig</option>
        <option value="Redelijk nauwkeurig">Redelijk nauwkeurig</option>
        <option value="Zeer nauwkeurig">Zeer nauwkeurig</option>
      </select>
      <select class="filter-dropdown">
        <option disabled selected>Tijdreeks</option>
        <option value="Jaren">Jaren</option>
        <option value="Weken">Weken</option>
        <option value="Uren">Uren</option>
        <option value="Minuten">Minuten</option>
      </select>
      <select class="filter-dropdown">
        <option disabled selected>Innovatie</option>
        <option value="Nog weinig bewijs">Nog weinig bewijs</option>
        <option value="Alleen wetenschappelijk bewezig">Alleen wetenschappelijk bewezig</option>
        <option value="Reeds in enkele projecten toegepast">Reeds in enkele projecten toegepast</option>
        <option value="Bewezen techniek">Bewezen techniek</option>
      </select>
    </form>
  </header>

  <span class="full-map">


    <a href="" id="landelijk">
      <span id="satellite" class="hide fadeIn"></span>
      <span id="drone" class="hide fadeIn"></span>
    </a>
    <span id="landelijk-info" class="hide bigEntrance">
      <a href="" class="close" id="close-rural">x</a>
      <h1>Landelijk</h1>
      <p>
        Tauw is een Europees advies- en ingenieursbureau
        met een sterke positie in milieuadvies en de
        duurzame ontwikkeling van de leefomgeving. Vanuit
        vestigingen in Nederland, België, Duitsland, Frankrijk,
        Spanje en Italië werken wij met ruim 1.000
        medewerkers aan een mooie, schone, veilige en
        duurzame leefomgeving.
      </p>
    </span>

    <a href="" id="industrial"></a>
    <span id="industrial-info" class="hide bigEntrance">
      <a href="" class="close" id="close-industrial">x</a>
      <h1>Industrieel</h1>
      <p>
        Tauw is een Europees advies- en ingenieursbureau
        met een sterke positie in milieuadvies en de
        duurzame ontwikkeling van de leefomgeving. Vanuit
        vestigingen in Nederland, België, Duitsland, Frankrijk,
        Spanje en Italië werken wij met ruim 1.000
        medewerkers aan een mooie, schone, veilige en
        duurzame leefomgeving.
      </p>
    </span>

    <a href="" id="urban"></a>
    <span id="urban-info" class="hide bigEntrance">
      <a href="" class="close" id="close-urban">x</a>
      <h1>Stedelijk</h1>
      <p>
        Tauw is een Europees advies- en ingenieursbureau
        met een sterke positie in milieuadvies en de
        duurzame ontwikkeling van de leefomgeving. Vanuit
        vestigingen in Nederland, België, Duitsland, Frankrijk,
        Spanje en Italië werken wij met ruim 1.000
        medewerkers aan een mooie, schone, veilige en
        duurzame leefomgeving.
      </p>
    </span>

  </span>

  <footer><a href="#" title="Tauw" class="logo"></a></footer>
</section>
<% include aside %>

<script src="javascripts/map.js"></script>
