<section id="tool" class="map">

  <span class="full-map">


    <a href="/details/Landelijk" id="landelijk">
      <span id="satellite" class="hide fadeIn"></span>
      <span id="drone" class="hide fadeIn"></span>
    </a>
    <span id="landelijk-info" class="hide bigEntrance">
      <a href="" class="close" id="close-rural">x</a>
      <h1>Landelijk</h1>
      <p>
        Tauw is een Europees advies- en ingenieursbureau
        met een sterke positie in milieuadvies en de
        duurzame ontwikkeling van de leefomgeving. Vanuit
        vestigingen in Nederland, België, Duitsland, Frankrijk,
        Spanje en Italië werken wij met ruim 1.000
        medewerkers aan een mooie, schone, veilige en
        duurzame leefomgeving.
      </p>
    </span>

    <a href="/details/Industrie" id="industrial"></a>
    <span id="industrial-info" class="hide bigEntrance">
      <a href="" class="close" id="close-industrial">x</a>
      <h1>Industrieel</h1>
      <p>
        Tauw is een Europees advies- en ingenieursbureau
        met een sterke positie in milieuadvies en de
        duurzame ontwikkeling van de leefomgeving. Vanuit
        vestigingen in Nederland, België, Duitsland, Frankrijk,
        Spanje en Italië werken wij met ruim 1.000
        medewerkers aan een mooie, schone, veilige en
        duurzame leefomgeving.
      </p>
    </span>

    <a href="/details/Stedelijk" id="urban"></a>
    <span id="urban-info" class="hide bigEntrance">
      <a href="" class="close" id="close-urban">x</a>
      <h1>Stedelijk</h1>
      <p>
        Tauw is een Europees advies- en ingenieursbureau
        met een sterke positie in milieuadvies en de
        duurzame ontwikkeling van de leefomgeving. Vanuit
        vestigingen in Nederland, België, Duitsland, Frankrijk,
        Spanje en Italië werken wij met ruim 1.000
        medewerkers aan een mooie, schone, veilige en
        duurzame leefomgeving.
      </p>
    </span>

  </span>

  <footer>
      <a href="#" title="Tauw" class="logo">
          <img src="images/tauw_logo.svg" alt="Tauw logo">
      </a>
  </footer>
</section>

<!-- <script src="javascripts/map.js"></script> -->
