
<main class="map">

  <div class="full-map">
    <% include svg/clouds %>
    <% include svg/map %>
    <a href="/details/Industrie" id="industrial">
      <span class="industrial-text">Industrie</span>
    </a>
    <a href="/details/Stedelijk" id="urban">
      <span class="urban-text">Stedelijk</span>
    </a>
    <a href="/details/Landelijk" id="rural">
      <span class="rural-text">Landelijk</span>
    </a>

    <p class="strong italic instruction">Kies een sector op de kaart hierboven</p>

  </div>

</main>
