/* animaties */
.expandUp{
  animation-name:expandUp;
  -webkit-animation-name:expandUp;
  animation-duration:.7s;
  -webkit-animation-duration:.7s;
  animation-timing-function:ease;
  -webkit-animation-timing-function:ease;
  visibility:visible!important}@keyframes expandUp {
	0% {
		transform: translateY(100%) scale(0.6) scaleY(0.5);
	}
	60%{
		transform: translateY(-7%) scaleY(1.12);
	}
	75%{
		transform: translateY(3%);
	}
	100% {
		transform: translateY(0%) scale(1) scaleY(1);
	}
}@-webkit-keyframes expandUp {
	0% {
		-webkit-transform: translateY(100%) scale(0.6) scaleY(0.5);
	}
	60%{
		-webkit-transform: translateY(-7%) scaleY(1.12);
	}
	75%{
		-webkit-transform: translateY(3%);
	}
	100% {
		-webkit-transform: translateY(0%) scale(1) scaleY(1);
	}
}
.bigEntrance{animation-name:bigEntrance;-webkit-animation-name:bigEntrance;animation-duration:1.6s;-webkit-animation-duration:1.6s;animation-timing-function:ease-out;-webkit-animation-timing-function:ease-out;visibility:visible!important}@keyframes bigEntrance {
	0% {
		transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
		opacity: 0.2;
	}
	30% {
		transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
		opacity: 1;
	}
	90% {
		transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	100% {
		transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
}@-webkit-keyframes bigEntrance {
	0% {
		-webkit-transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
		opacity: 0.2;
	}
	30% {
		-webkit-transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
		opacity: 1;
	}
	90% {
		-webkit-transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
}
// $cloudduration: 16s;
// #cloud1 {
//   animation-name:clouds;
//   -webkit-animation-name:clouds;
//   animation-duration:$cloudduration;
//   -webkit-animation-duration:$cloudduration;
//   animation-iteration-count: infinite;
//   -webkit-animation-iteration-count: infinite;
//   animation-timing-function:ease-in-out;
//   -webkit-animation-timing-function:ease-in-out;
//   visibility:visible!important
// }
// #cloud2 {
//   animation-name:clouds;
//   -webkit-animation-name:clouds;
//   animation-duration:$cloudduration;
//   -webkit-animation-duration:$cloudduration;
//   animation-iteration-count: infinite;
//   -webkit-animation-iteration-count: infinite;
//   animation-timing-function:ease-in-out;
//   -webkit-animation-timing-function:ease-in-out;
//   -webkit-animation-delay: -2s;
//   animation-delay: -2s;
//   visibility:visible!important
// }
// #cloud3 {
//   animation-name:clouds;
//   -webkit-animation-name:clouds;
//   animation-duration:$cloudduration;
//   -webkit-animation-duration:$cloudduration;
//   animation-iteration-count: infinite;
//   -webkit-animation-iteration-count: infinite;
//   animation-timing-function:ease-in-out;
//   -webkit-animation-timing-function:ease-in-out;
//   -webkit-animation-delay: -4s;
//   animation-delay: -4s;
//   visibility:visible!important
// }
// #cloud4 {
//   animation-name:clouds;
//   -webkit-animation-name:clouds;
//   animation-duration:$cloudduration;
//   -webkit-animation-duration:$cloudduration;
//   animation-iteration-count: infinite;
//   -webkit-animation-iteration-count: infinite;
//   animation-timing-function:ease-in-out;
//   -webkit-animation-timing-function:ease-in-out;
//   -webkit-animation-delay: -8s;
//   animation-delay: -8s;
//   visibility:visible!important
// }
// #cloud5 {
//   animation-name:clouds;
//   -webkit-animation-name:clouds;
//   animation-duration:$cloudduration;
//   -webkit-animation-duration:$cloudduration;
//   animation-iteration-count: infinite;
//   -webkit-animation-iteration-count: infinite;
//   animation-timing-function:ease-in-out;
//   -webkit-animation-timing-function:ease-in-out;
//   -webkit-animation-delay: -10s;
//   animation-delay: -10s;
//   visibility:visible!important
// }
// #cloud6 {
//   animation-name:clouds;
//   -webkit-animation-name:clouds;
//   animation-duration:$cloudduration;
//   -webkit-animation-duration:$cloudduration;
//   animation-iteration-count: infinite;
//   -webkit-animation-iteration-count: infinite;
//   animation-timing-function:ease-in-out;
//   -webkit-animation-timing-function:ease-in-out;
//   -webkit-animation-delay: -16s;
//   animation-delay: -16s;
//   visibility:visible!important
// }
// #cloud7 {
//   animation-name:clouds;
//   -webkit-animation-name:clouds;
//   animation-duration:$cloudduration;
//   -webkit-animation-duration:$cloudduration;
//   animation-iteration-count: infinite;
//   -webkit-animation-iteration-count: infinite;
//   animation-timing-function:ease-in-out;
//   -webkit-animation-timing-function:ease-in-out;
//   visibility:visible!important
// }
// #cloud8 {
//   animation-name:clouds;
//   -webkit-animation-name:clouds;
//   animation-duration:$cloudduration;
//   -webkit-animation-duration:$cloudduration;
//   animation-iteration-count: infinite;
//   -webkit-animation-iteration-count: infinite;
//   animation-timing-function:ease-in-out;
//   -webkit-animation-timing-function:ease-in-out;
//   -webkit-animation-delay: -2s;
//   animation-delay: -2s;
//   visibility:visible!important
// }
// #cloud9 {
//   animation-name:clouds;
//   -webkit-animation-name:clouds;
//   animation-duration:$cloudduration;
//   -webkit-animation-duration:$cloudduration;
//   animation-iteration-count: infinite;
//   -webkit-animation-iteration-count: infinite;
//   animation-timing-function:ease-in-out;
//   -webkit-animation-timing-function:ease-in-out;
//   -webkit-animation-delay: -4s;
//   animation-delay: -4s;
//   visibility:visible!important
// }
// #cloud10 {
//   animation-name:clouds;
//   -webkit-animation-name:clouds;
//   animation-duration:$cloudduration;
//   -webkit-animation-duration:$cloudduration;
//   animation-iteration-count: infinite;
//   -webkit-animation-iteration-count: infinite;
//   animation-timing-function:ease-in-out;
//   -webkit-animation-timing-function:ease-in-out;
//   -webkit-animation-delay: -8s;
//   animation-delay: -8s;
//   visibility:visible!important
// }
// #cloud11 {
//   animation-name:clouds;
//   -webkit-animation-name:clouds;
//   animation-duration:$cloudduration;
//   -webkit-animation-duration:$cloudduration;
//   animation-iteration-count: infinite;
//   -webkit-animation-iteration-count: infinite;
//   animation-timing-function:ease-in-out;
//   -webkit-animation-timing-function:ease-in-out;
//   -webkit-animation-delay: -10s;
//   animation-delay: -10s;
//   visibility:visible!important
// }
// #cloud12 {
//   animation-name:clouds;
//   -webkit-animation-name:clouds;
//   animation-duration:$cloudduration;
//   -webkit-animation-duration:$cloudduration;
//   animation-iteration-count: infinite;
//   -webkit-animation-iteration-count: infinite;
//   animation-timing-function:ease-in-out;
//   -webkit-animation-timing-function:ease-in-out;
//   -webkit-animation-delay: -15s;
//   animation-delay: -15s;
//   visibility:visible!important
// }
@keyframes clouds {
  0% {
		transform: translateX(-70vw);
	}

	100% {
		transform: translateX(70vw);

	}
}@-webkit-keyframes clouds {
	0% {
		-webkit-transform: translateX(-70vw);

	}
	100% {
		-webkit-transform: translateX(70vw);

	}
}

// .smoke {
//   animation-name:smoke;
//   -webkit-animation-name:smoke;
//   animation-duration:2s;
//   -webkit-animation-duration:2s;
//   animation-iteration-count: infinite;
//   -webkit-animation-iteration-count: infinite;
//   animation-timing-function:linear;
//   -webkit-animation-timing-function:linear;
//   visibility:visible!important
// }
@keyframes smoke {
  0% {
		transform: translateY(20px);
	}
  50% {
		transform: translateY(0px) translateX(100%);
	}
  100% {
    transform: translateY(-10px) translateX(22px);
    opacity: 0.0;
  }
}@-webkit-keyframes smoke {
  0% {
		-webkit-transform: translateY(20px);
	}
  50% {
		-webkit-transform: translateY(0px) translateX(100%);
	}
  100% {
    -webkit-transform: translateY(-10px) translateX(22px);
    opacity: 0.0;
  }
}
// .smoke2 {
//   animation-name:smoke2;
//   -webkit-animation-name:smoke2;
//   animation-duration:2s;
//   -webkit-animation-duration:2s;
//   animation-iteration-count: infinite;
//   -webkit-animation-iteration-count: infinite;
//   animation-timing-function:linear;
//   -webkit-animation-timing-function:linear;
//   -webkit-animation-delay: -1s;
//   animation-delay: -1s;
//   visibility:visible!important
// }
@keyframes smoke2 {
  0% {
		transform: translateY(20px);
	}
  50% {
		transform: translateY(0px) translateX(100%);
	}
  100% {
    transform: translateY(-10px) translateX(22px);
    opacity: 0.0;
  }
}@-webkit-keyframes smoke2 {
  0% {
		-webkit-transform: translateY(20px);
	}
  50% {
		-webkit-transform: translateY(0px) translateX(100%);
	}
  100% {
    -webkit-transform: translateY(-10px) translateX(22px);
    opacity: 0.0;
  }
}
// .smoke3 {
//   animation-name:smoke3;
//   -webkit-animation-name:smoke3;
//   animation-duration:2s;
//   -webkit-animation-duration:2s;
//   animation-iteration-count: infinite;
//   -webkit-animation-iteration-count: infinite;
//   animation-timing-function:linear;
//   -webkit-animation-timing-function:linear;
//   -webkit-animation-delay: -1s;
//   animation-delay: -1s;
//   visibility:visible!important
// }
@keyframes smoke3 {
  0% {
		transform: translateY(20px);
	}
  50% {
		transform: translateY(-20px) translateX(20%);
	}
  100% {
    transform: translateY(-30px) translateX(30%);
    opacity: 0.0;
  }
}@-webkit-keyframes smoke3 {
  0% {
		-webkit-transform: translateY(20px);
	}
  50% {
		-webkit-transform: translateY(-20px) translateX(20%);
	}
  100% {
    -webkit-transform: translateY(-30px) translateX(30%);
    opacity: 0.0;
  }
}
// .smokestack2 {
//   animation-name:smokestack;
//   -webkit-animation-name:smokestack;
//   animation-duration:2s;
//   -webkit-animation-duration:2s;
//   animation-iteration-count: infinite;
//   -webkit-animation-iteration-count: infinite;
//   animation-timing-function:linear;
//   -webkit-animation-timing-function:linear;
//   -webkit-animation-delay: 1s;
//   animation-delay: 1s;
//   visibility:visible!important
// }
// .smokestack {
//   animation-name:smokestack;
//   -webkit-animation-name:smokestack;
//   animation-duration:2s;
//   -webkit-animation-duration:2s;
//   animation-iteration-count: infinite;
//   -webkit-animation-iteration-count: infinite;
//   animation-timing-function:linear;
//   -webkit-animation-timing-function:linear;
//   visibility:visible!important
// }
@keyframes smokestack {
  0% {
		transform: translateY(0px);
	}
  50% {
		transform: translateY(10px);
	}
  100% {
    transform: translateY(0px);
  }
}@-webkit-keyframes smokestack {
  0% {
		-webkit-transform: translateY(0px);
	}
  50% {
		-webkit-transform: translateY(10px);
	}
  100% {
    -webkit-transform: translateY(0px);
  }
}

// #industrie_water {
//   animation-name:water;
//   -webkit-animation-name:water;
//   animation-duration:3s;
//   -webkit-animation-duration:3s;
//   animation-iteration-count: infinite;
//   -webkit-animation-iteration-count: infinite;
//   animation-timing-function:ease-in-out;
//   -webkit-animation-timing-function:ease-in-out;
//   visibility:visible!important
// }
@keyframes water {
  0% {
		transform: translateX(-2px);
	}
  50% {
		transform: translateX(-10px);
	}
  100% {
    transform: translateX(-2px);
  }
}@-webkit-keyframes water {
  0% {
		-webkit-transform: translateX(-2px);
	}
  50% {
		-webkit-transform: translateX(-10px);
	}
  100% {
    -webkit-transform: translateX(-2px);
  }
}

// .stedelijk_flat g rect {
//   transform-origin: center bottom;
//   @for $i from 1 through 10 {
//     &:nth-child(#{$i}) {
//       animation-name:windows;
//       -webkit-animation-name:windows;
//       animation-duration:5s;
//       -webkit-animation-duration:5s;
//       -webkit-animation-delay: 0.1-(0.1s * $i) ;
//       animation-delay: 0.1-(0.1s * $i) ;
//       animation-iteration-count: infinite;
//       -webkit-animation-iteration-count: infinite;
//       animation-timing-function:ease;
//       -webkit-animation-timing-function:ease;
//       visibility:visible!important
//     }
//   }
// }
@keyframes windows {
  0% {
		fill: white;
	}
  50% {
		fill: yellow;
	}
  0% {
    fill: white;
  }
}@-webkit-keyframes windows {
  0% {
		fill: white;
	}
  50% {
		fill: yellow;
	}
  100% {
    fill: white;
  }
}

// .trees g  {
//   transform-origin: 50% 100%;
//   -webkit-transform-origin:  50% 100%;
//   @for $i from 1 through 10 {
//     &:nth-child(#{$i}) {
//       animation-name:wiggle;
//       -webkit-animation-name:wiggle;
//       animation-duration:5s;
//       -webkit-animation-duration:5s;
//       -webkit-animation-delay: 0.1-(0.1s * $i) ;
//       animation-delay: 0.1-(0.1s * $i) ;
//       animation-iteration-count: infinite;
//       -webkit-animation-iteration-count: infinite;
//       animation-timing-function:ease;
//       -webkit-animation-timing-function:ease;
//       visibility:visible!important
//     }
//   }
// }
@keyframes wiggle {
	0% {
		transform: rotate(0deg);
	}
  50% {
		transform: rotate(5deg);
	}
	100% {
		transform: rotate(0deg);
	}
}@-webkit-keyframes wiggle {
  0% {
		-webkit-transform: rotate(0deg);
	}
  50% {
		-webkit-transform: rotate(5deg);
	}
	100% {
		-webkit-transform: rotate(0deg);
	}
}
.fadeIn{
  animation-name:fadeIn;
  -webkit-animation-name:fadeIn;
  animation-duration:1.5s;
  -webkit-animation-duration:1.5s;
  animation-timing-function:ease-in-out;
  -webkit-animation-timing-function:ease-in-out;
  visibility:visible!important}@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;
	}
	60% {
		transform: scale(1.1);
	}
	80% {
		transform: scale(0.9);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}@-webkit-keyframes fadeIn {
	0% {
		-webkit-transform: scale(0);
		opacity: 0.0;
	}
	60% {
		-webkit-transform: scale(1.1);
	}
	80% {
		-webkit-transform: scale(0.9);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1);
		opacity: 1;
	}
}

// .drone{
//   animation-name:fly;
//   -webkit-animation-name:fly;
//   animation-duration:4.5s;
//   -webkit-animation-duration:4.5s;
//   animation-timing-function:ease-in-out;
//   -webkit-animation-timing-function:ease-in-out;
//   animation-iteration-count: infinite;
//   -webkit-animation-iteration-count: infinite;
//   visibility:visible!important
// }@keyframes fly {
// 	0% {
// 		transform: translateY(0px) translateX(0%);
// 	}
// 	30% {
// 		transform: translateY(20%) translateX(100%);
// 	}
// 	60% {
// 		transform: translateY(100%) translateX(150%);
// 	}
//   80% {
//     transform: translateY(50%) translateX(30%);
//   }
// 	100% {
// 		transform: translateY(0%) translateX(0%);
// 	}
// }@-webkit-keyframes fly {
// 	0% {
// 		-webkit-transform: translateY(0px) translateX(0%);
// 	}
// 	60% {
// 		-webkit-transform: translateY(-20px) translateX(20%);
// 	}
// 	80% {
// 		-webkit-transform: translateY(-20px) translateX(20%);
// 	}
// 	100% {
// 		-webkit-transform: translateY(-20px) translateX(20%);
// 	}
// }
//
// .satellite {
//   animation-name:myOrbit;
//   -webkit-animation-name:myOrbit;
//   animation-duration:15.5s;
//   -webkit-animation-duration:15.5s;
//   animation-timing-function:linear;
//   -webkit-animation-timing-function:linear;
//   animation-iteration-count: infinite;
//   -webkit-animation-iteration-count: infinite;
//   visibility:visible!important
// }
// @keyframes myOrbit {
//     from { transform: rotate(0deg) translateX(25vw) rotate(0deg); }
//     to   { transform: rotate(-180deg) translateX(25vw) rotate(180deg); }
// }
// @-webkit-keyframes myOrbit {
//     from { -webkit-transform: rotate(0deg) translateX(25vw) rotate(0deg); }
//     to   { -webkit-transform: rotate(-180deg) translateX(25vw) rotate(180deg); }
// }
// .satellite svg {
//   animation-name:myOrbitRotate;
//   -webkit-animation-name:myOrbitRotate;
//   animation-duration:15.5s;
//   -webkit-animation-duration:15.5s;
//   animation-timing-function:linear;
//   -webkit-animation-timing-function:linear;
//   animation-iteration-count: infinite;
//   -webkit-animation-iteration-count: infinite;
//   visibility:visible!important
// }
// @keyframes myOrbitRotate {
//     from { transform: rotate(50deg) }
//     to   { transform: rotate(-130deg) }
// }
// @-webkit-keyframes myOrbitRotate {
//     from { -webkit-transform: rotate(-50deg); }
//     to   { -webkit-transform: rotate(-130deg); }
// }
