@import 'common/_breakpoint';
@import 'common/_colors';

.detail {
  width: 100%;
  background-color: $color_lightbackground;
  color: $color_black;

  header {
    padding-left: 1rem;

  }

  article {
    width: 100%;
    max-width: 30em;
    padding: 1rem;
  }

  table {
    margin-bottom: 1rem;
    border-spacing: 0.5rem;
  }

  th {
    height: 2em;
    width: 10em;
    text-align: left;
  }

  td {
    background-color: $color_shadow;
    text-align: center;
    padding: 0 1rem;
  }

  #selection_info  {
    // background-color: $color_white;

    img {
      display: inline-block;
      vertical-align: top;
      width: 40%;
      max-width: 15rem;
      padding-left: 1rem;
    }
    > div {

      padding-left: 1rem;
      padding-top: 1rem;
    }
  }

  #selection_info_what {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    max-width: 15rem;

    th {
      width: 5em;
    }
  }
}
