@import 'common/_breakpoint';
@import 'common/_colors';

.cms{
    h1{
        color: $color_pink;
    }
    th, td{
        font-size: 0.9em;
    }
        tr:nth-of-type(even){
            background: #ccc;
        }
        tr, th{
          width: min-content;
          text-align: center;
          padding: 0.5rem;
        }
        td{
            padding: 0.5rem;
            max-width: 7em;
            word-wrap: break-word;
        }
}
// .edit{
//     h1{
//         color: $color_pink;
//     }
//     fieldset{
//         column-count: 3;
//     }
//     form label{
//         margin: 0;
//     }
//     form{
//         display: flex;
//         flex-direction: column;
//     }
//     #contact{order:1;}
//     #sensor{order:2;}
//     #reference{order:3;}
//     input[type="submit"]{order:4;}
//
//     fieldset fieldset{
//        padding: 0.5rem;
//     }
//     fieldset fieldset label{
//        display: inline-block;
//        width: 45%;
//     }
// }

.add, .edit{
    h1{
        color: $color_pink;
    }
    form {
        display: flex;
        flex-direction: column;
        > fieldset{
            margin: 0;
            padding: 0.5rem;
            width: 100%;
            box-sizing: border-box;
            label{
                display: inline;
                box-sizing: border-box;
                width: 100%;
            }
            p{
                width: 80%;
            }
            p  span,
            label span{
                color: $color_pink;
            }
            input{
                display: block;
                padding: 0.5rem;
                box-sizing: border-box;
                width: 100%;
            }
            img.output-img{
                display:block;
                width: auto;
                margin: 1rem auto;
                max-width: 10em;
                max-height: 10em;
            }
            select{
                width: 100%;
                padding: 0.25rem;
                display: block;
                margin: 0 auto;
            }
            textarea{
                width: 100%;
                box-sizing: border-box;
            }
            > fieldset{
                border: none;
                padding: 0;
                margin: 0 0 1rem 0;
                    label{
                        width: auto;
                        display: block;
                        padding: 0 0.5rem;
                    }
                    input{
                        display: inline;
                        box-sizing: border-box;
                        width: auto;
                    }
                    input[value="nieuw"],
                    label.nieuw{
                        padding:  0;
                        display: inline;
                    }
                    > input[type="checkbox"]{
                        margin-left: 1.25rem;
                    }
                    > input[type="checkbox"] + label {
                        margin-left: 0;
                        padding: 0;
                    }
                    input[type=checkbox] + label + input[type=text]{
                        display: none;
                    }
                    input[type=checkbox]:checked + label + input[type=text]{
                        display: block;
                        margin-left: 1.25rem;
                    }
                }
                .small-textarea{
                    height: 5em;
                }
                .large-textarea{
                    height: 10em;
                }
            }
            @include breakpoint(tablet) {
                fieldset{
                    position: relative;
                    label{
                        display: block;
                        width: 50%;
                    }
                    input {
                        display: inline;
                        padding: 0.5rem;
                        box-sizing: border-box;
                        width: 50%;
                    }
                > fieldset.checkbox{
                    label{
                        width: 48%;
                        box-sizing: border-box;
                        display: inline-block;
                        padding: 0.25rem
                    }
                    input{
                        position: relative;
                        display: inline;
                        box-sizing: border-box;
                        width: auto;
                    }
                    > input[type="checkbox"] {
                        margin-left: 1rem;
                    }
                    input[type="checkbox"] + label {
                        width: auto;
                    }
                }
                img.output-img{
                    position: absolute;
                    right: 12.5%;
                }
                img.output-img{
                    top: 25%;
                }
                img.output-img.output-sensor-img{
                    top: 1%;
                }
                img.output-img.output-reference-image{
                    top: 25%;
                }
                textarea{
                    width: 50%;
                }
            }

            fieldset.selection{
                display: inline-block;
                width: 48%;
                p{
                    width: 100%;
                }
                select{
                    width: 95%;
                    margin: 0;
                }
            }
        }
        @include breakpoint(laptop) {
            fieldset{
                > fieldset.checkbox{
                    label{
                        width: 30%;
                    }
                }
            }
        }
        #contact{
            order:1;
        }
        #sensor{
            order:2;
        }
        #reference{
            order:3;
        }
        input[type="submit"]{
            order:4;
            margin: 1rem;
            padding: 0.5rem;
            border: none;
            background: $color_pink;
            color: $color_white;
        }
        input[type="submit"]:hover,
        input[type="submit"]:focus{
            background: $color_black;
        }
    }
}
