@import 'common/_breakpoint';
@import 'common/_colors';

.add, .edit, .cms{
    h1{
        color: $color_pink;
    }
    form {
        display: flex;
        flex-direction: column;
        legend, > fieldset > label{
            text-transform: capitalize;
            margin-left: 0;
            font-weight: 600;
            font-size: 1em;
        }
        > fieldset{
            margin: 0;
            padding: 0.5rem;
            width: 100%;
            box-sizing: border-box;
            label{
                display: inline;
                box-sizing: border-box;
                width: 100%;
                text-transform: capitalize;
            }
            p{
                width: 80%;
            }
            p  span,
            label span{
                color: $color_pink;
            }
            input{
                display: block;
                padding: 0.5rem;
                box-sizing: border-box;
                width: 100%;
            }
            img.output-img{
                display:block;
                width: auto;
                margin: 1rem auto;
                max-width: 10em;
                max-height: 10em;
            }
            select{
                width: 100%;
                padding: 0.25rem;
                display: block;
                margin: 0 auto;
            }
            textarea{
                width: 100%;
                box-sizing: border-box;
            }
            > fieldset{
                border: none;
                padding: 0;
                margin: 0 0 1rem 0;
                    label{
                        width: auto;
                        display: block;
                        padding: 0 0.5rem;
                    }
                    input{
                        display: inline;
                        box-sizing: border-box;
                        width: auto;
                    }
                    input[value="nieuw"],
                    label.nieuw{
                        padding:  0;
                        display: inline;
                    }
                    > input[type="checkbox"]{
                        margin-right: 0;
                        margin-left: 1.25rem;
                    }
                    > input[type="checkbox"] + label {
                        margin-left: 0;
                        padding: 0;
                    }
                    input[type=checkbox] + label + input[type=text]{
                        display: none;
                    }
                    input[type=checkbox]:checked + label + input[type=text]{
                        display: block;
                        margin-left: 1.25rem;
                    }
                }
                .small-textarea{
                    height: 5em;
                }
                .large-textarea{
                    height: 10em;
                }
            }
            @include breakpoint(tablet) {
                fieldset{
                    position: relative;
                    label{
                        display: block;
                        width: 50%;
                    }
                    input {
                        display: inline;
                        padding: 0.5rem;
                        box-sizing: border-box;
                        width: 50%;
                    }
                > fieldset.checkbox{
                    label{
                        width: 48%;
                        box-sizing: border-box;
                        display: inline-block;
                        padding: 0.25rem;
                        vertical-align: top;
                    }
                    input{
                        position: relative;
                        display: inline;
                        box-sizing: border-box;
                        width: auto;
                    }
                    > input[type="checkbox"] {
                        margin-left: 1rem;
                        margin-top: 0.5rem;
                    }
                    input[type="checkbox"] + label {
                        width: auto;
                    }
                }
                img.output-img{
                    position: absolute;
                    right: 12.5%;
                }
                img.output-img{
                    top: 25%;
                }
                img.output-img.output-sensor-img{
                    top: 1%;
                }
                img.output-img.output-reference-image{
                    top: 25%;
                }
                textarea{
                    width: 50%;
                }
            }

            fieldset.selection{
                display: inline-block;
                width: 49%;
                p{
                    width: 100%;
                }
                select{
                    width: 95%;
                    margin: 0;
                }
            }
        }
        #contact{
            order:1;
        }
        #sensor{
            order:2;
        }
        #reference{
            order:3;
        }
        input[type="submit"]{
            order:4;
            margin: 1rem;
            padding: 0.5rem;
            border: none;
            background: $color_pink;
            color: $color_white;
        }
        input[type="submit"]:hover,
        input[type="submit"]:focus{
            background: $color_black;
        }
        br{
            display: none;
        }
        @media (min-width: 50em) and (max-width: 53em){
            br{
                display: block;
            }
        }
    }
    div{
        overflow-x: auto;
        table{
            margin-top: 1rem;
            border-collapse: collapse;
            width: 100%;
            tr{
                text-align: center;
                display: inline-block;
                th{
                    color: $color_white;
                    background-color: $color_background;
                }
                th,td{
                    font-size: 0.9em;
                    min-width: 6em;
                    max-width: 6em;
                    padding: 0.5rem;
                    word-wrap: break-word;
                    a{
                        color: $color_pink;
                    }
                }
            }
            tr:nth-of-type(even){
                background: $color_shadow;
            }
        }
    }
}

.cms{
    form {
        margin-right: 0.5rem;
        display: inline-block;
        width: 60%;
        span{
            position: absolute;
            margin-top: 0.5rem;
            left: .5rem;
            display: inline-block;
            background-image: url(/images/search.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            width: 1em;
            height: 1em;
            z-index: 1;
        }
        input{
            width: 100%;
            position: relative;
            padding: .5rem 1rem .5rem 2rem;
            border: 2px solid #f5f5f5;
            color: $color_black;
            background-color: $color_white;
            -webkit-box-shadow: 3px 3px 0px -1px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 3px 3px 0px -1px rgba(0, 0, 0, 0.1);
            box-shadow: 3px 3px 0px -1px rgba(0, 0, 0, 0.1);
            box-sizing: border-box;
        }
    }
    form + a{
        color: $color_white;
        text-decoration: none;
        border: none;
        padding: 0.25rem 1rem;
        background-color: $color_pink;
        box-sizing: border-box;
        position: absolute;
    }
    form + a:hover,
    form + a:focus{
        background: $color_black;
    }
}
