@import 'common/_breakpoint';
@import 'common/_colors';

header {
    width: 100%;
    margin: 0 !important;
    padding: 0.25rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    background: $color_background;
    > *{
        margin-right: 0.5rem;
    }
    a {
        flex:0;
        height: 1.5rem;
        padding: 0.5rem;
        border-radius: 0.5em;
        background: $color_pink;
        width: max-content;
        color: $color_white;
        font-size: 1.1em;
        text-decoration: none;
        img {
            height: 100%;
        }
    }
    a:hover,
    a:focus{
        background: $color_blue;
    }
    form{
        flex: 1;
        margin-top: 0 !important;
        display: flex;
        justify-content: flex-end;
        input[type=search]{
            border: 0.1rem solid $color_shadow;
            width: 3em;
            height: 3em;
            background-color: $color_white;
            background-image: url('/images/search.svg');
            background-repeat: no-repeat;
            padding-left: 2.2rem;
            border-radius: 2.5rem;
            transition: width 0.6s ease-in-out, border-radius 0.6s ease-in-out;
        }
        input[type=search]:focus,
        input[type=search]:hover{
            width: 10em;
            border-radius: 1rem;
        }
    }
}
