@import 'common/_breakpoint';
@import 'common/_colors';


.map {
  width: 100%;


  .full-map {
    width: 100%;
    position: relative;
    background-color: $color_lightbackground;
    padding-top: 2rem;
    padding-bottom: 2rem;
    overflow-x: auto;
    white-space: nowrap;
    a {
      display: inline-block;
      position: relative;
      transition: 1s;
      left:0;
      img {
        height: 100vw;
        width: auto;
      }
      span {
        display: block;
        text-align: center;
      }
    }
    .selectedSector {

    }
    button {
      position: absolute;
      top: 40%;
      right: 0%;
      background-image: url(/images/arrow.svg);
      background-color: transparent;
      border-style: none;
      height: 3rem;
      width: 3rem;
      background-repeat: no-repeat;
      background-size: contain;

      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }
    button:first-of-type {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
      left: 0%;
      right: auto;

    }
    .satellite {
      position: absolute;
      top: .5rem;
      right: .5rem;
      background-image: url('/images/satellite.svg');
      background-repeat: no-repeat;
      background-size: 100%;
      width: 4rem;
      height: 4rem;
      display: inline-block;
    }
    .drone {
      position: absolute;
      top: .9rem;
      left: 1.2rem;
      background-image: url('/images/drone.svg');
      background-repeat: no-repeat;
      background-size: 100%;
      width: 3rem;
      height: 3rem;
      display: inline-block;
    }
    .hide {
      display: none !important;
    }
  }
  .removedScroll {
    overflow-x: hidden;
  }
  @include breakpoint(mobile) {
    .full-map a img {
      height: 41vw;
    }
  }

}



// #landelijk-info h1,
// #industrial-info h1,
// #urban-info h1  {
//   font-family: 'open_sansitalic';
//   font-style: normal;
//   margin-bottom: .7em;
// }
// #landelijk:hover,
// #industrial:hover,
// #urban:hover {
//   border: 2px solid #ec008c;
// }

// #landelijk {
//   position: absolute;
//   right: 0;
//   bottom: 5em;
//   display: inline-block;
//   width: 16em;
//   width: 33%;
//   height: 14em;
// }
// #landelijk-info {
//   position: absolute;
//   top: 0;
//   left: 0;
//   display: inline-block;
//   background-color: #ffffff;
//   width: 25em;
//   padding: 2em;
//   -webkit-box-shadow: 3px 3px 0px -1px rgba(0,0,0,0.2);
//   -moz-box-shadow: 3px 3px 0px -1px rgba(0,0,0,0.2);
//   box-shadow: 3px 3px 0px -1px rgba(0,0,0,0.2);
// }

// #industrial {
//   position: absolute;
//   left: 0;
//   bottom: 3em;
//   display: inline-block;
//   width: 19em;
//   height: 20em;
// }
// #industrial-info {
//   position: absolute;
//   top: 0;
//   right: 0;
//   display: inline-block;
//   background-color: #ffffff;
//   width: 25em;
//   padding: 2em;
//   -webkit-box-shadow: 3px 3px 0px -1px rgba(0,0,0,0.2);
//   -moz-box-shadow: 3px 3px 0px -1px rgba(0,0,0,0.2);
//   box-shadow: 3px 3px 0px -1px rgba(0,0,0,0.2);
// }
// #urban {
//   position: absolute;
//   right: 17em;
//   bottom: 3em;
//   display: inline-block;
//   width: 7em;
//   height: 17em;
// }
// #urban-info {
//   position: absolute;
//   top: 0;
//   left: 0;
//   display: inline-block;
//   background-color: #ffffff;
//   width: 25em;
//   padding: 2em;
//   -webkit-box-shadow: 3px 3px 0px -1px rgba(0,0,0,0.2);
//   -moz-box-shadow: 3px 3px 0px -1px rgba(0,0,0,0.2);
//   box-shadow: 3px 3px 0px -1px rgba(0,0,0,0.2);
// }
// .close {
//   position: absolute;
//   top: .5em;
//   right: .5em;
//   display: inline-block;
//   text-align: center;
//   width: 2em;
//   height: 2em;
//   line-height: 2em;
//   text-decoration: none;
//   font-size: 1.2em;
// }
// select.filter-dropdown {
//   background-color: #ffffff;
//   background-image: url('/images/dropdown-select.png');
//   background-repeat: no-repeat;
//   background-position: center right;
//   background-size: 1.5em .5em;
//   display: inline-block;
//   padding: 1em 2.8em 1em 1.5em;
//   font-size: .8em;
//   -webkit-appearance: button;
//   -moz-appearance:    button;
//   appearance:         button;
//   border: none;
//   -webkit-border-radius: 0;
//   -moz-border-radius: 0;
//   border-radius: 0;
//   -webkit-box-shadow: 2px 2px 0px -1px rgba(0,0,0,0.1);
//   -moz-box-shadow: 2px 2px 0px -1px rgba(0,0,0,0.1);
//   box-shadow: 2px 2px 0px -1px rgba(0,0,0,0.1);
// }
// .area-active {
//   border: 2px solid #ec008c;
// }

//
/* animaties */
.expandUp{
  animation-name:expandUp;
  -webkit-animation-name:expandUp;
  animation-duration:.7s;
  -webkit-animation-duration:.7s;
  animation-timing-function:ease;
  -webkit-animation-timing-function:ease;
  visibility:visible!important}@keyframes expandUp {
	0% {
		transform: translateY(100%) scale(0.6) scaleY(0.5);
	}
	60%{
		transform: translateY(-7%) scaleY(1.12);
	}
	75%{
		transform: translateY(3%);
	}
	100% {
		transform: translateY(0%) scale(1) scaleY(1);
	}
}@-webkit-keyframes expandUp {
	0% {
		-webkit-transform: translateY(100%) scale(0.6) scaleY(0.5);
	}
	60%{
		-webkit-transform: translateY(-7%) scaleY(1.12);
	}
	75%{
		-webkit-transform: translateY(3%);
	}
	100% {
		-webkit-transform: translateY(0%) scale(1) scaleY(1);
	}
}
.bigEntrance{animation-name:bigEntrance;-webkit-animation-name:bigEntrance;animation-duration:1.6s;-webkit-animation-duration:1.6s;animation-timing-function:ease-out;-webkit-animation-timing-function:ease-out;visibility:visible!important}@keyframes bigEntrance {
	0% {
		transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
		opacity: 0.2;
	}
	30% {
		transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
		opacity: 1;
	}
	90% {
		transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	100% {
		transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
}@-webkit-keyframes bigEntrance {
	0% {
		-webkit-transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
		opacity: 0.2;
	}
	30% {
		-webkit-transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
		opacity: 1;
	}
	90% {
		-webkit-transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
}
.fadeIn{
  animation-name:fadeIn;
  -webkit-animation-name:fadeIn;
  animation-duration:1.5s;
  -webkit-animation-duration:1.5s;
  animation-timing-function:ease-in-out;
  -webkit-animation-timing-function:ease-in-out;
  visibility:visible!important}@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;
	}
	60% {
		transform: scale(1.1);
	}
	80% {
		transform: scale(0.9);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}@-webkit-keyframes fadeIn {
	0% {
		-webkit-transform: scale(0);
		opacity: 0.0;
	}
	60% {
		-webkit-transform: scale(1.1);
	}
	80% {
		-webkit-transform: scale(0.9);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1);
		opacity: 1;
	}
}
