@import 'common/_breakpoint';
@import 'common/_colors';

.map {
//  width: 100%;
margin-top: 4rem;
float:left;
display: flex;
justify-content: center;
align-items: center;
@include breakpoint(tablet) {
  // width: 60%;
  margin-right: 2%;
  float: right;
  width: 70%;
  height: 100%;
}

  p.instruction {
    display: none;
    @include breakpoint(mobileonly) {
      display: block;
      width: 100%;
      text-align: center;
      margin-top: 1rem;
    }
  }
  #clouds {
    position: absolute;
    width:100%;
    pointer-events: none;
  }
  #mapsvg {
    margin-top: 150px;
  }
  .full-map {
    width: 100%;
    position: relative;
    background-color: $color_lightbackground;
    padding-top: 2rem;
    padding-bottom: 8rem;
    overflow-x: auto;
    white-space: nowrap;
    svg {
      width: 100%;
    }
    #industrial, #urban, #rural {
      position: absolute;
      top:30%;
    }
    #industrial {
      left: 10%;
    }
    #urban {
      left: 55%;
    }
    #rural {
      left: 75%;
    }
    a {
      color: $color_pink;
      font-family: 'open_sansbold', Helvetica, Arial, sans-serif;
      &:visited {
        color: $color_pink;
      }
      @media not all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        svg {
          width: auto;
        }
      }
      span {

        text-align: center;
        padding: .8rem 1rem;
        box-sizing: border-box;
      }
      &:hover span {
        box-shadow: inset 0 0 0 2px $color_pink;
      }
    }
    button {
      position: absolute;
      top: 40%;
      right: 2%;
      background-image: url(/images/arrow-map.svg);
      background-color: transparent;
      border-style: none;
      height: 2rem;
      width: 2rem;
      background-repeat: no-repeat;
      background-size: contain;

      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }
    button:first-of-type {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
      left: 2%;
      right: auto;

    }
    .hide {
      display: none !important;
    }
  }
  .removedScroll {
    overflow-x: hidden;
  }
}
// @include breakpoint(mobile) {
//   .map {
//     // width: 74%;
//     // float: left;
//
//     .full-map a svg {
//       height: 41vw;
//     }
//   }
//
// }
// @include breakpoint(tablet) {
//   .map {
//
//     .full-map {
//       display: flex;
//       justify-content: center;
//
//       a svg {
//         height: 16rem;
//       }
//     }
//   }
//
// }
// @include breakpoint(laptop) {
//   .map {
//
//     .full-map a svg {
//       height: 20rem;
//     }
//   }
//
// }
// @include breakpoint(desktop) {
//   .map {
//
//     .full-map a svg {
//       height: 24rem;
//     }
//   }
//
// }
