@import 'common/_breakpoint';
@import 'common/_colors';

ul.branch {
  padding: 0;
  margin: 1rem 0 0;
  list-style-type: none;
  li {
    position: relative;
    float: left;
    width: 45%;
    min-height: 8em;
    margin: 0 0 1.5rem;
    padding: 1.2rem;
    background-color: #ffffff;
    box-sizing: border-box;
    -webkit-box-shadow: 3px 3px 0px -1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 3px 3px 0px -1px rgba(0, 0, 0, 0.1);
    box-shadow: 3px 3px 0px -1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    @include breakpoint(mobileonly) {
      float: none;
      width: 100%;
      min-height: 0;
    }
    @include breakpoint(tablet) {
      width: 45%;
    }
    @include breakpoint(phablet) {
      float: none;
      width: 55%;
    }
    &:nth-child(even) {
      float: right;
      @include breakpoint(mobileonly) {
        float: none;
      }
      @include breakpoint(phablet) {
        float: none;
      }
    }
    a {
      color: #333333;
      text-decoration: none;
    }
    a:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    a.more-url {
      text-decoration: none;
      color: #ec008c;
      font-size: .8rem;
    }
    a.more-url:hover {
      text-decoration: underline;
    }
    h4 {
        margin: 0;
        font-family: 'open_sanssemibold', Helvetica, Arial, sans-serif;
        display: block;
    }
    h5.sector{
        color: #919191;
        margin: 0;
    }
    p {
      font-size: .8em;
      min-height: 5em;
      max-height: 5em;
      overflow: hidden;
    }
  }
  div.image-wrap {
    float: left !important;
    display: inline-block;
    position: relative;
    width: 4rem;
    height: 4rem;
    background-color: #ffffff;
    border: 1px solid #dadad6;
    padding: .5rem;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    img{
      display: inline-block;
      width: 100%;
      height: 100%;
      margin: auto auto;
      vertical-align: middle;
      vertical-align: -webkit-baseline-middle;
    }
  }
  section {
    float: right;
    width: 75%;
    box-sizing: border-box;
    @include breakpoint(tablet) {
      width: 70%;
    }
    @include breakpoint(desktop) {
      width: 75%;
    }
  }
}
/* animaties */

.expandUp2 li {
  @for $i from 1 through 20 {
    &:nth-child(#{$i}) {
      animation-name:expandUp2;
      -webkit-animation-name:expandUp2;
      animation-duration:10s;
      -webkit-animation-duration:1.5s;
      -webkit-animation-delay: -1s + (0.1s * $i);
      animation-delay: -1s + (0.1s * $i);
      animation-timing-function:ease;
      -webkit-animation-timing-function:ease;
      visibility:visible!important
    }
  }
}
@keyframes expandUp2 {
	0% {
		transform: translateY(100%) scale(0.6) scaleY(0.5);
	}
  30% {
		transform: translateY(100%) scale(0.6) scaleY(0.5);
	}
	60%{
		transform: translateY(-7%) scaleY(1.12);
	}
	75%{
		transform: translateY(3%);
	}
	100% {
		transform: translateY(0%) scale(1) scaleY(1);
	}
}@-webkit-keyframes expandUp2 {
	0% {
		-webkit-transform: translateY(100%) scale(0.6) scaleY(0.5);
	}
	60%{
		-webkit-transform: translateY(-7%) scaleY(1.12);
	}
	75%{
		-webkit-transform: translateY(3%);
	}
	100% {
		-webkit-transform: translateY(0%) scale(1) scaleY(1);
	}
}
