@import 'common/_breakpoint';
@import 'common/_colors';

main.category{
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    @include breakpoint(tablet) {
      width: 70%;
    }
    h1{
        margin-left: 5%;
        color: $color_black;
    }
    img{
        width: 60%;
        margin-left: 20%;
        @include breakpoint(tablet) {
          width: 40%;
          margin-left: 30%;
        }
    }
    ul.branches{
        padding: 0;
        width: 70%;
        margin-left: 15%;
        text-align: center;
        @include breakpoint(tablet) {
            width: 60%;
            margin-left: 20%;
        }
        li{
            display: inline-block;
            width: min-content;
            margin: 1rem 0.5rem;

            a{
                color: $color_white;
                text-decoration: none;
                padding: 0.5rem;
                background: $color_pink;
            }
        }
    }
}
