@import 'common/_breakpoint';
@import 'common/_colors';

main.category {
    h2 {
      text-align: center;
      font-family: 'open_sansregular', Helvetica, Arial, sans-serif;
      span {
        font-family: 'open_sansbold', Helvetica, Arial, sans-serif;
      }
    }
    .category-img {
      width: 70%;
      height: 15em;
      margin: 0 auto;
      text-align: center;
    }
    img {
        width: auto;
        height: 100%;
        // @include breakpoint(tablet) {
        //   width: 40%;
        // }
    }
    ul.branches{
        padding: 0;
        width: 70%;
        margin-left: 15%;
        text-align: center;
        @include breakpoint(tablet) {
            width: 60%;
            margin-left: 20%;
        }
        li{
            display: inline-block;
            width: min-content;
            margin: 1rem 0.5rem;

            a,
            a:visited   {
                color: $color_white;
                text-decoration: none;
                padding: 0.7rem 1.5rem;
                background-color: $color_pink;
            }
            a:hover {
                background-color: #414141;
            }
        }
    }
}
