body{
    padding: 1em;
    margin: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

legend{
    font-weight: bold;
}
span{
    font-style: italic;
}
form label{
    margin-left: 0.5em;
}
p{
    margin: 0;
}

.nieuw + input{
    display: none;
}

.nieuw:checked + input{
    display: block;
}
