body{
    padding: 1em;
    margin: 0;
    font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    width: 100%;
}
main,
header,
footer{
    width: 100%;
    box-sizing: border-box;
}
h1 {
    margin: 0;
}
header{
    margin: 0 0 1em 0;
}

a {
  color: #00B7FF;
}

legend{
    font-weight: bold;
}
span{
    font-style: italic;
}
form label{
    margin-left: 0.5em;
}
p{
    margin: 0;
}

.hideForm{
    display: none;
}


.nieuw + input{
    display: none;
}

.nieuw:checked + input{
    display: block;
}

.controlButtons{
    margin: 5em 0 0 0;
}



/*CSS for the Progressbar*/
.progressbarContainer{
    width: 100%;
    margin: 1em 0 0 0;
    border-radius: 0.5em;
    background: lightgrey;
}
.progressbar{
    width: 0%;
    background-color: green;
    border-radius: 0.5em;
}
.progressbarDetails{
    margin: 0.5em 0 1em 0.5em;
}
