body{
    padding: 1em;
    margin: 0;
    font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    width: 100%;
}
main,
header,
footer{
    width: 100%;
    box-sizing: border-box;
}
h1 {
    margin: 0;
}
header{
    margin: 0 0 1em 0;
}

a {
  color: #00B7FF;
}

legend{
    font-weight: bold;
}
span{
    font-style: italic;
}
form label{
    margin-left: 0.5em;
}
p{
    margin: 0;
}

.nieuw + input{
    display: none;
}

.nieuw:checked + input{
    display: block;
}

.controlButtons{
    margin: 5em 0 0 0;
}

.round{
    padding: 0.5em;
    height: 2.5em;
    width: 5em;
    border-radius: 50%;
    border: none;
    font-weight: bold;
    color: white;
    background: darkblue;
    text-decoration: none;
}
.round:hover, .round:focus, .round:active{
    border:none;
    color: black;
    background: lightblue;
}

/*CSS for the form layout*/
.stepCounter{
    width: 80%;
    margin: 0 auto;
}

form {
    margin: 1em 0 0 0;
}
.formBlock{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 1em 0;
    justify-content: center;
    border: solid;
    padding: 1em;
    box-sizing: border-box;
}
.formBlock > div{
    margin: 0 0.5em;
    width: 40%;
    display: flex;
    flex-direction: column;
}
legend{
    margin: 1em 0 0 0;
}
form div input{
    margin: 0 0.5em 0 0
}
.nieuw input:last-child{
    display: none;
}
input[type=checkbox]:checked + input[type=text] {
    display: block;
}
div > legend{
    width: 80%;
}
form select{
    margin: 0 0 0.5em 0;
}

img#output{
    width: auto;
    max-width: 5em;
    max-height: 7em;
}
.hideForm{
    display: none;
}

/*CSS for the Progressbar*/
.progressbarContainer{
    width: 100%;
    margin: 1em 0 0 0;
    border-radius: 0.5em;
    background: lightgrey;
}
.progressbar{
    width: 0%;
    background-color: green;
    border-radius: 0.5em;
}
.progressbarDetails{
    margin: 0.5em 0 1em 0.5em;
}
